/****************************************
 *	Fonts
 ****************************************/

@font-face {
    font-family: "Futura";
    font-weight: bold;
    src: url(../fonts/Futura/Futura-Bold-03.ttf) format("truetype");
}

@font-face {
    font-family: "Futura";
    font-weight: 700;
    src: url(../fonts/Futura/FuturaNewHeavy.otf) format("truetype");
}

@font-face {
    font-family: "Futura";
    font-weight: 500;
    src: url(../fonts/Futura/Futura-Medium-01.ttf) format("truetype");
}

@font-face {
    font-family: "Futura";
    font-weight: 400;
    src: url(../fonts/Futura/FuturaNewDemi.otf) format("truetype");
}

$font : "Futura";