@media screen and (max-width: 1440px) {
    #productView .informations{
        padding-left: 50px;
    }

    #closeProductView{
        left: 0;
    }

    #productView .informations>div>div.singleProductView_body{
        width: 100%;
    }
  }