/****************************************
 *	Variables
 ****************************************/

/********************
 *	Colors
 ********************/

$color_black: #000000;
$color_white: #ffffff;
$color_lightgrey: #f4f4f4;

$shadow : 0 0 13px 5px rgba(0,0,0,.15);
$shadow-mini : 0px 13px 20px 0 rgba(0,0,0,.2);