#aboutView{
    position: absolute;
    z-index: 16;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    transform: scale(0);
    transition: .2s;
    box-sizing: border-box;
    padding: 150px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    opacity: 0;

    & .content{
        background: #fff;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px;
        width: 820px;
        -webkit-box-shadow: $shadow;
        -moz-box-shadow: $shadow;
        box-shadow: $shadow;

        & #closeAboutView{
            position: absolute;
            top: 30px;
            right: 30px;
            width: 20px;
            cursor: pointer;
            transition: 0.5s;

            &:hover{
                opacity: 0.5;
            }
        }

    }

    &.show{
        transform: scale(1);
        opacity: 1;
    }


        & h2{
            font-size: 3.6em;
            font-weight: bold;
            margin: 0;
        }

        & h3{
            font-size: 2.4em;
            font-weight: 500;
        }

        & p{
            font-size: 1.6em;
            line-height: 1.6em;
            font-weight: 400;
            text-align: center;
        }

        & img{
            width: 85px;
            margin: 0 10px;
        }

        & img:nth-child(2){
            width: 60px;
        }

        & .about-left-1{
            -webkit-box-shadow: $shadow;
            -moz-box-shadow: $shadow;
            box-shadow: $shadow;
            padding: 100px;
        }

        & .about-left-2{
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            & p{
                font-size: 1em;
            }

            & .about-logos{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    

    & .about-right{
        width: 60%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        padding: 100px;
        -webkit-box-shadow: 0 0 13px 5px rgba(0,0,0,.15);
        -moz-box-shadow: 0 0 13px 5px rgba(0,0,0,.15);
        box-shadow: 0 0 13px 5px rgba(0,0,0,.15);
        background-image: url("../images/lettres/T.svg");
        background-repeat: no-repeat;
        background-position: left;

        & > img{
            width: 300px;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        & .about-text-intro{
            display: flex;

            & > img{
                width: 115px;
                height: 115px;
                margin-right: 35px;
            }

            & p{
                font-size: 2.3em;
                font-weight: 500;
            }
        }

        & .about-text > p{
            font-size: 1.7em;
            font-weight: 500;
        }

        &.about-text > span{
            font-size: 1.4em;
        }
    }
}