/****************************************
 *	Catalog View
 ****************************************/

#catalogView {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background: rgba(0,0,0,0.64);
    display: flex;
    justify-content: center;
    transform: translateX(100%);
    transition: .2s;
    box-sizing: border-box;

    &.show {
        transform: translateX(0%);
    }

    & .catalogViewContent{
        margin-top: 100px;
        height: calc(100% - 100px);
        width: 90vw;
        margin-left: auto;
        background: white;
        display: flex;
    }

    & #closeCatalogView{
        position: absolute;
        top: 90px;
    }

    & .categories{
        height: 100%;
        width: 350px;
        display: flex;
        justify-content: flex-start;
        box-sizing: border-box;
        flex-direction: column;
        -webkit-box-shadow: $shadow-mini;
        -moz-box-shadow: $shadow-mini;
        box-shadow: $shadow-mini;

        & > p {
            margin: 0;
            padding-top: 85px;
            margin-left: 60px;
            font-weight: 400;
            font-size: 1.6em;
        }

        & .category{
            height: 42px;
            margin-left: 35px;
            width: calc( 100% - 35px );
            display: flex;
            align-items: center;
            padding-left: 25px;
            transition: .5s;
            box-sizing: border-box;
            margin-top: 40px;
            color: #000;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            text-transform: uppercase;
            position: relative;

            &:not(.category-parent):after{
                display: block;
                content: "►";
                color: $color_black;
                width: 10px;
                height: 10px;
                position: absolute;
                right: 70px;
            }

            &.active{
                background: $color_lightgrey;
            }
            &:not(.category-parent):hover{
                background: $color_lightgrey;
                cursor: pointer;
            }

            &.category-parent{
                margin-bottom: 10px;
            }

            &.category-child{
                margin-top: 0;

                & img{
                    width: 15px;
                }

                & p{
                    font-size: 1.4em;
                }
            }

            & img{
                width: 20px;
                margin-right: 20px;
            }

            & p{
                font-size: 1.6em;
                font-weight: 700;
            }
        }
    }

    & .contents{
        height: 100%;
        width: calc(100% - 350px);
        display: flex;
        justify-content: center;
        align-items: center;

        & .content{
            width: 100%;
            height: 100%;
            display: none;

            &.active{
                display: flex;
                flex-direction: column;
                padding-left: 155px;
                padding-right: 155px;
                box-sizing: border-box;
            }

            & h3{
                font-weight: bold;
                font-size: 4em;
                margin: 0;
                padding-top: 85px;
                margin-bottom: 40px;
                text-transform: uppercase;
            }

            & p{
                font-size: 1.6em;
                font-weight: 500;
                margin: 0;
            }

            & .content-body{
                margin-top: 30px;
            }

            & .content-body1{
                display: flex;
                flex-wrap: wrap;

                & .content-child{
                    width: 25%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-position: bottom;
                    background-size: contain;
                    flex-direction: column;
                    background-repeat: no-repeat;
                    margin: 0 20px;

                    & div{
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    & img{
                        display: flex;
                        object-fit: contain;
                        width: 100%;
                        height: 100%;
                    }

                    & p{
                        font-weight: 700;
                    }

                }
            }

            & .content-body2{
                display: flex;
                height: 65%;

                & .content-body-left{
                    width: 50%;
                    display: flex;
                    align-items: center;

                    & .content-child{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        flex-direction: column;

                        & img{
                            display: flex;
                            object-fit: contain;
                            width: 100%;
                            height: 100%;
                        }

                        & p{
                            font-weight: 700;
                        }
                    }
                }

                & .content-body-right{
                    width: 50%;
                    display: flex;
                    flex-wrap: wrap;

                    & .content-child{
                        width: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        flex-direction: column;

                        & img{
                            display: flex;
                            object-fit: cover;
                            width: 100%;
                        }

                        & p{
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}