#canvas{
    cursor: none;
    filter: blur(10px);
    transition: 0.5s;

    &.show{
        filter: blur(0px);
    }

    & .scrollArrow{
        position: absolute;
        z-index: 1;
        width: 75px;
        height: 75px;
        background: white;
        top: 50%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        -webkit-box-shadow: $shadow;
        -moz-box-shadow: $shadow;
        box-shadow: $shadow;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px;
        transition: 0.5s;

        &:hover{
            transform: scale(1.2);
        }
        
        & img{
            width: 25px;
        }

        &#scrollLeft{
            left: 80px;
            background-image: url("../images/pictos/flecheG.svg");
        }

        &#scrollRight{
            right: 80px;
            background-image: url("../images/pictos/flecheD.svg");
        }
    }
}