#helpView{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 16;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: scale(0);
    transition: .5s;

    &.show{
        transform: scale(1);

        &.state0 .intro-bloc .content0{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &.state1 .intro-bloc .content1{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    }

    & .content{
        display: flex;
        align-items: center;
        margin: 15px 0;

        & img{
            margin-right: 50px;
        }

        & p{
            font-size: 1.4em;
        }
    }

    & .intro-bloc{
        width: 620px;
        height: 320px;
        background: white;
        background-image: url('../images/aide.svg');
        background-repeat: no-repeat;
        background-size: 25%;
        background-position: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 50px;
        box-sizing: border-box;
        -webkit-box-shadow: $shadow;
        -moz-box-shadow: $shadow;
        box-shadow: $shadow;

        & .content0, .content1{
            display: none;
        }

        & #closeHelpView{
            position: absolute;
            top: 30px;
            right: 30px;
            width: 20px;
            cursor: pointer;
            transition: 0.5s;

            &:hover{
                opacity: 0.5;
            }
        }
    }
}