/****************************************
 *	ProductView
 ****************************************/

#productView {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    background: $color_white;
    color: $color_white;
    transform: translateY(-100%);
    transition: 0.5s ease-in-out;
    background-position: 130%;
    background-repeat: no-repeat;
    background-size: 80% 80%;


    &.show {
        transform: translateY(0);
    }

    & > div {
        height: 100%;
        overflow: hidden;
    }

    & .informations {

        padding-left: 200px;
        padding-right: 50px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 100px;
        padding-bottom: 100px;
        width: 70% !important;

        & .singleProductView_footer {
            max-width: 100%;
            height: 150px;
            margin-left: -200px;
            background: white;
            border-top-right-radius: 80px;
            border-bottom-right-radius: 80px;
            display: flex;
            width: fit-content;
            padding-left: 200px;
            margin-top: 50px;
            position: absolute;
            bottom: 40px;
        

            & .singleProductView_footer-infos{
                display: flex;
                align-items: center;
                width: 200px;
                margin-right: 100px;

                & p{
                    font-size: 1.6em;
                }
            }

            & .object_related {
                display: flex;

                & .object_related_item-imageBox {
                    width: 150px;
                    margin-right: 20px;
                    height: 110px;

                    & div{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-size: 65% 90%;
                        background-repeat: no-repeat;
                        background-position: right;
                        height: 100%;
                    }

                    & img {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        object-fit: contain;
                        object-position: center;
                    }

                    & p{
                        color: $color_black;
                        font-size: 1.4em;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-align: center;
                        margin-top: 0;
                    }

                }

            }

        }

        & > div > div {
            width: 100%;

            &.singleProductView_intro {

                & h1 {
                    font-size: 10.9em;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-bottom: 0;
                    letter-spacing: 5px;
                    line-height: 1;
                }

                & h3 {
                    margin: 0;
                    font-size: 1.6em;
                    letter-spacing: 1px;
                }

                & .object_intro {
                    font-size: 2.2em;
                    line-height: 30px;
                    margin-top: 40px;
                    font-weight: bold;
                    margin-bottom: 25px;
                    // width: 70%;
                }

            }

            &.singleProductView_body {
                display: flex;
                flex-direction: column;
                width: 80%;
                max-height: 390px;

                & .singleProductView_body-infos{

                    display: none;

                    & .singleProductView_body-left {

                        margin-bottom: 25px;
    
                        & .object_description{
                            margin: 0;
                        }
    
                    }
    
                    & .singleProductView_body-right {
                        display: flex;
    
                        & .singleProductView_body-right_knowledge, .singleProductView_body-right_tips{
                            display: flex;
                            align-items: flex-start;
                            margin-right: 20px;
                            width: 50%;
    
                            & > img{
                                width: 25px;
                                margin-right: 15px;
                            }
                        }
    
                        & .singleProductView_body-right_knowledge-title, .singleProductView_body-right_tips-title{
                            
                            & p{
                                margin: 0;
                                font-weight: bold;
                            }
                        }
                       
    
    
    
                    }

                    &.show{
                        display: block;
                       
                    }

                }

                & .singleProductView_body-compo{
                    display: none;
                    flex-direction: column;

                    &.show{
                        display: flex;
                        flex-wrap: wrap;
                        max-height: 300px;

                        & .compoBox{
                            display: flex;
                            width: 40%;
                            margin-top: 25px;

                            & .compoBox-visual img{
                                transform: rotate(-15deg);
                                max-width: 60px;
                            }

                            & .compoBox-visual p{
                                margin: 0;
                                text-align: right;
                                font-size: 1.2em;
                                font-weight: 500;
                                margin-top: -10px;
                            }

                            & .compoBox-text{
                                display: flex;
                                align-items: center;
                            }

                            & .compoBox-text p{
                                margin-left: 30px;
                                margin-top: 0;
                                margin-bottom: 0;
                            }
                        }

                    }
                }

                & p{
                    font-weight: 500;
                    font-size: 1.6em;
                    line-height: 22px;
                    letter-spacing: 1px;
                }

            }

           

        }

    }

}

#closeProductView{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    font-size: 1.6em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition: .5s ease-in-out;
    top: 60px;
    left: 90px;

    & img{
        width: 30px;
        margin-right: 20px;
    }

    &:hover{
        transform: translateY(-2px);
    }
}

.productInfo-category{
    font-weight: bold;
}

#buttonSpread{
    // width: 250px;
    position: absolute;
    left: 62%;
    bottom: 22%;
    display: none;
    align-items: center;
    cursor: pointer;
    width: -webkit-fill-available!important;

    &.show{
        display: flex;
    }

    & .buttonSpread-image{
        width: 70px!important;
        height: 70px;
        min-width: 70px;
        background: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-right: 15px;
        -webkit-box-shadow: $shadow;
        -moz-box-shadow: $shadow;
        box-shadow: $shadow;
    
        & img{
            width: 12px;
        }
    }

    &.show1{
        &:hover{
            & .buttonSpread-text:nth-child(2){
                display: block;
            }
        }
    }

    &.show2{
        &:hover{
            & .buttonSpread-text:nth-child(3){
                display: block;
            }
        }
    }

    & .buttonSpread-text{
        color: $color_black;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.4em;
        letter-spacing: 1px;
        display: none;
        transition: 0.2s;
    }

    

    &.gifPlusSize{
        & img{
            width: 20px;
        }
    }
}

#seeOnScene{
    position: absolute;
    left: 62%;
    bottom: 14%;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: -webkit-fill-available!important;

    & .seeOnScene-image{
        width: 70px!important;
        height: 70px;
        min-width: 70px;
        background: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-right: 15px;
        -webkit-box-shadow: $shadow;
        -moz-box-shadow: $shadow;
        box-shadow: $shadow;
    
        & img{
            width: 27px;
        }

        
    }

    & .seeOnScene-text{
        color: $color_black;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.4em;
        letter-spacing: 1px;
        display: none;
        transition: 0.2s;
    }

    &:hover{
        & .seeOnScene-text{
            display: block;
        }
    }
}