/****************************************
 *	Body
 ****************************************/

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: $font;
    font-size : 10px;
    // cursor: url("../images/pictos/aide.png"),auto;
    
}

.cache{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.30196078431372547);
    opacity: 0;
    transition: 0.2s;
    z-index: -1;
    position: absolute;

    &.show{
        opacity: 1;
        z-index: 15;
    }
}

/****************************************
 *	Canvas
 ****************************************/

canvas:not(.statsjs) {
    width: 100%;
    height: 100%;
    position: static;
}


/****************************************
 *	StatsJS
 ****************************************/

.statsjs {
    position: absolute;
    z-index: 3;
}


/****************************************
 *	Header
 ****************************************/

#header {
    position: absolute;
    top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    box-sizing: border-box;
    z-index: 1;
    

    & img {
        cursor: pointer;
    }
    

}


.helpScroll, .helpClick, .helpDrag{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 1s;
    flex-direction: column;
    align-items: center;
    display: flex;

    & .helpButton{
        width: 350px;
        height: 60px;
        background: white;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.2em;
        margin-bottom: 50px;
        -webkit-box-shadow: $shadow;
        -moz-box-shadow: $shadow;
        box-shadow: $shadow;
   
    }

    & .helpImg{
        width: 130px;
        height: 130px;
        background: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-box-shadow: $shadow;
        -moz-box-shadow: $shadow;
        box-shadow: $shadow;
      
    }

    &.show{
        transform: translate(-50%, -50%) scale(1);
        transition: 1s;
       
    }
}

.helpDrag{
    top: 50%;
    left: 82%;
    transform: translate(-50%, -50%) scale(0);
}

#cursor{
    width: 20px;
    height: 20px;
    position: absolute;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s;
    transform: scale(2);
    opacity: .7;
    border: 5px solid rgba(134, 126, 126, 0.7411764705882353);
    box-sizing: border-box;

    & img{
        width: 4px;
        height: 4px;
        transform: scale(0);
        transition: 0.1s;
    }

    &.active{
        transform: scale(3.2);
        opacity: 1;
        border: 5px solid $color_white;

        & img{
            transform: scale(1);
        }
    }
}


/****************************************
 *	Footer
 ****************************************/

#footer {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 50px;
    box-sizing: border-box;
    border-top: 1px solid lightgrey;
    z-index: 10;
    background: white;

    & img {
        width: 30px;

        &:hover {
            opacity: 0.7;
            cursor: pointer;
            transition: 0.2s;
        }

    }

}