.intro{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: scale(0);
    transition: 0.5s;

    &.show{
        transform: scale(1);
    }

    & .intro-bloc{
        background: white;
        height: 400px;
        width: 800px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        -webkit-box-shadow: $shadow;
        -moz-box-shadow: $shadow;
        box-shadow: $shadow;
        padding: 80px 100px;
        box-sizing: border-box;


        & h1{
            font-weight: bold;
            font-size: 5.4em;
            margin-top: 0;
            letter-spacing: 4px;
        }

        & p{
            font-size: 2em;
            font-weight: 500;
            text-align: center;

            & span{
                font-weight: bold;
            }
        }
    }

    & .intro-button{
        width: 340px;
        background: white;
        display: flex;
        height: 60px;
        border-radius: 30px;
        margin-top: 50px;
        cursor: pointer;
        align-items: center;
        justify-content: center;

        &:hover{

            & img:nth-child(3){
                transform: translateX(5px);
            }
        }
        
        & p{
            font-weight: 700;
            font-size: 1.6em;
            padding-bottom: 2px;
            border-bottom: 1px solid black;
            margin: 0;
            height: 20px;
        }

        & img{
            width: 30px;
            margin-left: 15px;
            transition: 0.5s;
        }
    }
}