/****************************************
 *	Loading page
 ****************************************/

.loadingPage {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 15;
    background: white;

    & .loadingBackground{
        position: absolute;
        height: 100%;
        left: 0;
        z-index: -1;
    }

    & .loadingBar{
        width: 370px;
        height: 10px;
        background: white;
        position: relative;
        border-radius: 30px;
        -webkit-box-shadow: $shadow;
        -moz-box-shadow: $shadow;
        box-shadow: $shadow;
        overflow: hidden;
    }

    &.fadeOut{
        transform: translateY(-100%);
        transition: 1s;
    }

    & img{

        &:nth-child(1){
            position: absolute;
            transform: scale(2) rotate(-15deg);
            top: 70%;
        }
        &:nth-child(2){
            position: absolute;
            transform: scale(1.2) rotate(60deg);
            top: 20%;
            left: 10%;
        }
        &:nth-child(3){
            position: absolute;
            transform: scale(1.2) rotate(-30deg);
            top: 30%;
            right: 15%;
        }
        &:nth-child(4){
            position: absolute;
            transform: scale(1.2) rotate(40deg);
            bottom: 20%;
            right: 15%;
        }
        &:nth-child(5){
            position: absolute;
            transform: scale(0.5) rotate(-150deg);
            top: 5%;
            left: 30%;
        }
        &:nth-child(6){
            position: absolute;
            transform: scale(1.2) rotate(-220deg);
            left: 20%;
            bottom: 20%;
        }
        &:nth-child(7){
            position: absolute;
            transform: scale(0.8) rotate(-250deg);
            top: 40%;
            left: 15%;
        }

        &:nth-child(8){
            position: absolute;
            transform: scale(.8) rotate(-73deg);
            top: 23%;
            right: 20%;
        }

        &:nth-child(9){
            position: absolute;
            transform: scale(.8) rotate(-134deg);
            top: 40%;
            right: 10%;
        }

        &:nth-child(10){
            position: absolute;
            transform: scale(.8) rotate(59deg);
            bottom: 11%;
            right: 5%;
        }

        &:nth-child(11){
            position: absolute;
            transform: scale(.8) rotate(59deg);
            bottom: 11%;
            right: 5%;
        }
    }

    & #beginProgressBar {
        width: 0%;
        height: 100%;
        background: $color_black;
        transition: 0.8s;
        position: absolute;
    }

    & p{
        font-size: 5.4em;
        font-weight: bold;
        margin-bottom: 15px;
        letter-spacing: 4px;
    }
}