.menu{
    display: flex;
    z-index: 10;
    position: absolute;
    height: 100px;
    z-index: 10;
    top: 0px;
    right: 90px;
    align-items: center;
    opacity: 0;
    transition: 0.5s;

    &.show{
        opacity: 1;
    }

    & #catalogButton, #aboutButton, #helpButton{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        margin-left: 60px;
        font-size: 1.6em;
        text-transform: uppercase;
        text-decoration: none;
        color: $color_black;
        transition: 0.5s ease-in-out;

        & img{
            width: 30px;
            margin-right: 20px;
        }

        &:hover{
            transform: translateY(-2px);
        }
    }

    #catalogButton, #aboutButton{

        position: relative;
        width: 125px;
        height: 100%;

        & > div{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            text-transform: uppercase;
            text-decoration: none;
            color: #000;
            transition: .5s ease-in-out;
        }

        &.catalogShow{

            & > div:nth-child(1){
                opacity: 1;
            }

            & > div:nth-child(2){
                opacity: 0;
            }

        }

        &.aboutShow{

            & > div:nth-child(1){
                opacity: 1;
            }

            & > div:nth-child(2){
                opacity: 0;
            }

        }

        &:hover > div:nth-child(2) {
            transform: translateY(2px);
        }

        & > div:nth-child(1){
            opacity: 0;
        }

        & > div:nth-child(2){
            opacity: 1;
            width: 150px;
            background: #f4f4f4;
        }
    }

    

    #helpButton img{
        margin-right: 0px;
    }

}