#bubbleComponent{
    position: absolute;
    z-index: 1;
    padding: 10px;
    background-color: #fff;
    color: #000;
    width: 230px;
    padding: 20px;
    flex-direction: column;
    display: none;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;

    &.show{
        display: flex;
    }

    & .name{
        font-size: 2.2em;
        font-weight: bold;
        text-transform: uppercase;
        margin: 0;
    }

    & .description{
        font-size: 1.6em;
        font-weight: 500; 
    
    }

}